.Catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
}

@media screen and (max-width: 1020px) {
    .Catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .Catalog {
        grid-template-columns: repeat(1, 1fr);
    }
}
