{
  "printWidth": 80,
  "arrowParens": "always",
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "tabWidth": 4,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "bracketSameLine": false
}