.TotalAmount {
    font-family: roboto;
    border: 1px solid black;
    height: max-content;
    width: 100%;
}
.total-amount__title {
}

.total-amount__summary-section {
}

.total-amount__button-section {
}

.summary-header__text {
}
